@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.field {
    width: 200px;
    height: 200px;
    font-size: 150px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 14px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
}

#d1, #d2, #d3, #d4, #d5, #d6 {
    border-bottom: solid black 1px;
}

#d1, #d4, #d7, #d2, #d5, #d8 {
    border-right: solid black 1px;
}

#result {
    font-size: 100px;
    text-align: center;
}

#reset {
    font-size: 50px;
    text-decoration-line: underline;
}

#reset:hover {
    animation-name: resetBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes resetBtn{
    0%   {font-size: 50px;}
    50%  {font-size: 52px;}
    100% {font-size: 50px;}
}

footer {
    position: absolute;
    left: 92%;
    top: 97%
}